@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
:root {

}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #04536d;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 30px;
	width: 860px;
	height: 700px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(15px);
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	background: linear-gradient(180deg, rgba(210, 243, 194, 0.15) 0%, rgba(232, 238, 192, 0.096875) 51.56%, rgba(196, 196, 196, 0) 100%);
	backdrop-filter: blur(10px);
	border-radius: 30px;
}

.slider {
	height: 80%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: start;
	align-items: center;
	background: red;
	border-radius: 30px;
}

.carousel {
	height: 90%;
	width: 3290px;
	margin-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 30px;
	border-radius: 30px;
	transition: all ease-in-out 600ms;
}

.carousel div {
	height: 100%;
	width: 800px;
	position: relative;
	display: block;
	border-radius: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color:aqua;
	filter: blur(20px);
	transition: all ease-in-out 900ms;
}

.slide-1 {
	background-image: url("../assets/image/mem1.jpg")
}
.slide-2 {
	background-image: url("../assets/image/mem2.jpg")
}
.slide-3 {
	background-image: url("../assets/image/mem1.jpg")
}
.slide-4 {
	background-image: url("../assets/image/mem2.jpg")
}

.slide-text {

}

.container-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
}

.slider-text {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
	overflow: hidden;
	width: 510px;
	height: 100%;
	padding: 30px 30px;
}

.carousel-text {
	height: 100%;
	width: 1980px;

	margin-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 60px;
	border-radius: 30px;
	transition: all ease-in-out 600ms;
}

.carousel-text p {
	height: 100%;
	width: 450px;

	position: relative;
	display: block;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-size: 22px;
	line-height: 130%;
	color: black;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 30%;
	height: 100px;
	padding: 10px 30px;
}

.controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: rgba(245, 245, 245, 0.5);  
	backdrop-filter: blur(15px);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(30px);
	border-radius: 50%;
	transition: all ease-in-out 600ms;
}

.controls label::after {
	content: " ";
	display: block;
	height: 46px;
	width: 46px;
	margin: -15px 0px 0px -15px;
	border-radius: 50%;
}

.controls label:hover{
	background: rgb(245, 245, 245);
}
.control {
	display: none;
}

#slide-1:checked ~ .container-controls .controls .lab-1,
#slide-2:checked ~ .container-controls .controls .lab-2,
#slide-3:checked ~ .container-controls .controls .lab-3,
#slide-4:checked ~ .container-controls .controls .lab-4 {
	background: transparent;
	border: 3px solid rgba(245, 245, 245, 0.7);
}

#slide-1:checked ~ .slider .carousel .slide-1 {
	filter: blur(0px);
	transition: all ease-in-out 900ms;
}
#slide-1:checked ~ .slider .carousel {
	margin-left: 0px;
}
#slide-1:checked ~ .container-controls .slider-text .carousel-text {
	margin-left: 0px;
}

#slide-2:checked ~ .slider .carousel .slide-2 {
	filter: blur(0px);
	transition: all ease-in-out 900ms;
}
#slide-2:checked ~ .slider .carousel {
	margin-left: -830px;
}
#slide-2:checked ~ .container-controls .slider-text .carousel-text {
	margin-left: -510px;
}

#slide-3:checked ~ .slider .carousel .slide-3 {
	filter: blur(0px);
	transition: all ease-in-out 900ms;
}
#slide-3:checked ~ .slider .carousel {
	margin-left: -1660px;
}
#slide-3:checked ~ .container-controls .slider-text .carousel-text {
	margin-left: -1020px;
}

#slide-4:checked ~ .slider .carousel .slide-4 {
	filter: blur(0px);
	transition: all ease-in-out 900ms;
}
#slide-4:checked ~ .slider .carousel {
	margin-left: -2490px;
}
#slide-4:checked ~ .container-controls .slider-text .carousel-text {
	margin-left: -1530px;
}