@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
:root {

}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #04536d;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 30px;
	width: 860px;
	height: 700px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(15px);
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	background: linear-gradient(180deg, rgba(210, 243, 194, 0.15) 0%, rgba(232, 238, 192, 0.096875) 51.56%, rgba(196, 196, 196, 0) 100%);
	backdrop-filter: blur(10px);
	border-radius: 30px;
}

.slider {
	height: 80%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: start;
	align-items: center;
	background: red;
	border-radius: 30px;
}

.carousel {
	height: 90%;
	width: 3290px;
	/* margin-left: 2490px; */
	margin-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 30px;
	border-radius: 30px;
}

.carousel div {
	height: 100%;
	width: 800px;
	
	position: relative;
	display: block;
	border-radius: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.slide-1 {
	background-image: url("../assets/image/mem1.jpg")
}
.slide-2 {
	background-image: url("../assets/image/mem2.jpg")
}
.slide-3 {
	background-image: url("../assets/image/mem1.jpg")
}
.slide-4 {
	background-image: url("../assets/image/mem2.jpg")
}

.slide-text {

}

.container-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
}

.slider-text {
	display: flex;
	/* flex-direction: row; */
	justify-content: start;
	align-items: center;
	gap: 10px;
	overflow: hidden;
	width: 465px;
	height: 100%;
	padding: 30px 30px;
}

.carousel-text {
	height: 100%;
	width: 1940px;
	margin-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 30px;
	border-radius: 30px;
}

.carousel-text p {
	height: 100%;
	width: 450px;

	position: relative;
	display: block;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
	color: black;
	/* border-radius: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; */
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 30%;
	height: 100px;
	padding: 10px 30px;
}
